window.background {
  background-color: rgba(18, 12, 24, 0.4);
/*border-color: rgba(20, 13, 28, 0.2);*/
	border-style: solid;
	border-width: 3px;
	border-image: linear-gradient(0.03turn, #FFFFFF, #8070FF, #5030FF) 1;
}

#launcher image {
  background-image: url("file:///home/koki/.config/nwg-dock-hyprland/ks.svg");
  background-size: contain;
  min-width: 16px;
  min-height: 16px;
}

#box {
  padding: 1px;
  margin-bottom: -2px;
  margin: 2px 5px -2px 5px;
}

#active button{
	background: rgba(0, 0, 0, .3);
	transition: all 0.4s;
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
}

image {
	margin: 1px;
	border: none;
	border-radius: 40px;
}

button {
	padding: 2px;
	margin-left: 1px;
	margin-right: 1px;
	font-size: 8px;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 20px;
}

button:focus {
	box-shadow: none;
}
