/* Rofi Config for Google Search */

@import "~/.config/rofi/config.rasi"

/* ---- Window ---- */
window {
	width: 40%;
    orientation: horizontal;
    y-offset: 10px;
    location: north;
    children: [ entry, button-close ];
    border: 2px;
    border-color: darkgray/15%;
    spacing: 0.5em;
}

/* ---- Entry ---- */

entry {
    border-color: white/45%;
    border: 0 0 2px 0;
	expand: true;
	placeholder: " Search in Web";
	horizontal-align: 0.5;
	padding: 6px;
	margin: 4px;
}
